body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6f1;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-color: #fff7f7;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.header_text {
    font-size: 3.2em;
    color: #e91e63;
    font-weight: bold;
    margin-bottom: 20px;
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    border: 5px solid #ffb3d9;
}